{% extends "base.html.twig"  %}

{% block main %}
    <main class="relative w-[350px] sm:w-[1000px] sm:h-14/20 left-1/2 -translate-x-1/2 mt-6 sm:mt-12 sm:mb-24">

        <div id="core-view" class="relative w-[350px] sm:w-[1000px] flex flex-col sm:flex-row justify-between">
    
            <div id="column-1" class="relative w-full flex flex-col gap-y-4">            
                <h2 class="absolute sm:ml-6 mt-2 text-secondary">{{ event.eventName }}</h2>
                <div id="event-detail" class="flex w-[350px] h-[100px] sm:w-full sm:h-[500px] bg-primary gap-x-4 border-4 border-double">         
                    <div class="sm:ml-4 sm:mt-16">      
                        <img class="flex w-[350px] h-[100px] sm:w-72 sm:h-[390px] max-w-[330px] border-4 border-double border-primary shadow-xl sepia-25" src="{{ asset('images/placeholder_poster.webp') }}" alt="Poster de la séance">
                    </div>
                    <div class="sm:mr-4 mt-18">
                        <h3 class="inline">{{ event.eventMovie }}</h3> <h4 class="inline">par John Doe</h4>        
                        <h4>Science-fiction, Aventure | Canada, {{ event.getStrEventMovieYear() }}</h4>            
                        <p>{{ event.eventDetail }}</p>        
                        <h4>Avec</h4> 
                        <hr>
                        <div>cc</div>
                        <hr>
                        <h4 class="inline">Séance proposée par</h4> <h4 class="inline text-secondary">{{ event.getUser().userName }}</h4>    
                        <ul class="flex space-x-4 mt-2">
                                {% for participation in event.participants %}
                                    {% if isHost %}
                                        <li class="relative w-7 sm:w-14 group">
                                        <img src="{{ asset('icons/user_host_icon.png') }}" alt="Icone utilisateur"></i>
                                        <div class="absolute mt-2 border-double border-4 shadow-xl rounded-lg flex bg-secondary justify-center w-full opacity-0 group-hover:opacity-100 duration-700 ease-in-out">{{ participation.getUser().userName }}</div>
                                    {% elseif isParticipant %}
                                        {% if participation.userHasConfirmed== true %}
                                            <li class="relative w-7 sm:w-14 group">
                                            <img src="{{ asset('icons/user_icon.png') }}" alt="Icone utilisateur"></i>
                                            <div class="absolute mt-2 border-double border-4 shadow-xl rounded-lg flex bg-secondary justify-center w-full opacity-0 group-hover:opacity-100 duration-700 ease-in-out">{{ participation.getUser().userName }}</div>
                                        {% elseif participation.userHasConfirmed== false %}
                                            <li class="relative w-7 sm:w-14 group">
                                            <img src="{{ asset('icons/user_not_confirmed_icon.png') }}" alt="Icone utilisateur"></i>
                                            <div class="absolute mt-2 border-double border-4 shadow-xl rounded-lg flex bg-secondary justify-center w-full opacity-0 group-hover:opacity-100 duration-700 ease-in-out">{{ participation.getUser().userName }}</div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                        </ul>
                    </div>                
            </div>


            <div id="event-dashboard" class="flex w-[350px] h-[100px] sm:w-full sm:h-[150px] bg-primary justify-center items-end p-4 gap-x-4 border-4 border-double">
                {% if not isAdmin and isHost %}
                    <div>
                        <a href="{{path('event_delete_event', { 'id' : event.eventId}) }}">
                            <div class="bg-secondary w-[150px] h-[30px] sm:w-[210px] sm:h-[50px] flex items-center justify-center border-4 border-double font-button">Supprimer la séance</div>
                        </a>
                    </div>
                    <div>
                        <a href="{{path('event_edit_event', { 'id' : event.eventId}) }}">
                            <div class="bg-secondary w-[150px] h-[30px] sm:w-[210px] sm:h-[50px] flex items-center justify-center border-4 border-double font-button">Modifier la séance</div>
                        </a>
                    </div>

                {% elseif isAdmin and isHost %}
                    <div>
                        <a href="{{path('event_delete_event', { 'id' : event.eventId}) }}">
                            <div class="bg-secondary w-[150px] h-[30px] sm:w-[210px] sm:h-[50px] flex items-center justify-center border-4 border-double font-button">Supprimer la séance</div>
                        </a>
                    </div>
                    <div>
                        <a href="{{path('event_edit_event', { 'id' : event.eventId}) }}">
                            <div class="bg-secondary w-[150px] h-[30px] sm:w-[210px] sm:h-[50px] flex items-center justify-center border-4 border-double font-button">Modifier la séance</div>
                        </a>
                    </div>

                {% elseif isAdmin and not isHost %}
                    {% if event.eventIsValidated == false %}
                     <div>
                            <a href="{{path('event_validate_event', { 'id' : event.eventId}) }}">
                                <div class="bg-secondary w-[150px] h-[30px] sm:w-[210px] sm:h-[50px] flex items-center justify-center border-4 border-double font-button">Valider la séance</div>
                            </a>
                        </div>
                    {% endif %}
                    <div>
                        <a href="{{path('event_delete_event', { 'id' : event.eventId}) }}">
                            <div class="bg-secondary w-[150px] h-[30px] sm:w-[210px] sm:h-[50px] flex items-center justify-center border-4 border-double font-button">Supprimer la séance</div>
                        </a>
                    </div>
                    <div>
                        <a href="{{path('event_edit_event', { 'id' : event.eventId}) }}">
                        <div class="bg-secondary w-[150px] h-[30px] sm:w-[210px] sm:h-[50px] flex items-center justify-center border-4 border-double font-button">Modifier la séance</div>
                        </a>
                    </div>
                    {% if not isParticipant %}
                        <div>
                            <a href="{{path('event_take_part_in_event', { 'id' : event.eventId, 'confirm' : 'true'}) }}">
                                <div class="bg-secondary w-[150px] h-[30px] sm:w-[210px] sm:h-[50px] flex items-center justify-center border-4 border-double font-button">Je participe !</div>
                            </a>
                        </div>
                    {% endif %}
                    <div>
                        {% if not isParticipant %}
                        <a href="{{path('event_take_part_in_event', { 'id' : event.eventId, 'confirm' : 'false'}) }}">
                            <div class="bg-secondary w-[150px] h-[30px] sm:w-[210px] sm:h-[50px] flex items-center justify-center border-4 border-double font-button">Pourquoi pas !</div>
                        </a>
                        {% endif %}
                    </div>
                {% endif %}

                {% if not isHost and not isAdmin %}
                    {% if not isParticipant %}
                    <div>
                        <a href="{{path('event_take_part_in_event', { 'id' : event.eventId, 'confirm' : 'true'}) }}">
                            <div class="bg-secondary w-[150px] h-[30px] sm:w-[210px] sm:h-[50px] flex items-center justify-center border-4 border-double font-button">Je participe !</div>
                        </a>
                    </div>
                    {% endif %}
                    {% if not isParticipant %}
                    <div>
                        <a href="{{path('event_take_part_in_event', { 'id' : event.eventId, 'confirm' : 'false'}) }}">
                            <div class="bg-secondary w-[150px] h-[30px] sm:w-[210px] sm:h-[50px] flex items-center justify-center border-4 border-double font-button">Pourquoi pas !</div>
                        </a>
                    </div>
                    {% endif %}
                {% endif %}
                {% if isParticipant %}
                <div>
                    <div class="bg-neutral-500 w-[150px] h-[30px] sm:w-[210px] sm:h-[50px]">Vous participez à cette séance !</div>
                </div>
                {% endif %}
            </div>  
        </div>
    </main>

{% endblock %}
