{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block main %}
    <main class="flex w-full h-14/20 justify-center mt-4 sm:mt-12 mb-24">
        <div id="core-view" class="relative w-[350px] sm:w-[1000px] flex flex-row justify-center gap-x-4">
            <div id="column-1" class="relative w-[350px] sm:w-[1000px] flex flex-col justify-center gap-x-4 bg-primary border-double border-4 p-2 ml-4">

                <h1 class="mb-4">Bienvenue</h1>
                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm, {'attr': {'class': 'flex flex-col items-center'}}) }}
                    <div class="flex flex-col mb-4">
                        {{ form_label(registrationForm.user_name, 'Identifiant', {'label_attr': {'class': 'mb-1 text-sm font-semibold text-text-night'}}) }}
                        {{ form_widget(registrationForm.user_name, {'attr': {'class': 'form-control border-4 border-double p-2 focus:outline-none focus:ring-2 focus:ring-neutral-700 bg-white w-[310px] h-[35px] sm:w-[450px] sm:h-[40px]'}}) }}
                        {{ form_errors(registrationForm.user_name) }}
                    </div>
                    <div class="flex flex-col mb-4">
                        {{ form_label(registrationForm.user_email, 'E-mail', {'label_attr': {'class': 'mb-1 text-sm font-semibold text-text-night'}}) }}
                        {{ form_widget(registrationForm.user_email, {'attr': {'class': 'form-control border-4 border-double p-2 focus:outline-none focus:ring-2 focus:ring-neutral-700 bg-white w-[310px] h-[35px] sm:w-[450px] sm:h-[40px]'}}) }}
                        {{ form_errors(registrationForm.user_email) }}
                    </div>
                    <div class="flex flex-col mb-4">
                        {{ form_label(registrationForm.user_dob, 'Date de naissance', {'label_attr': {'class': 'mb-1 text-sm font-semibold text-text-night'}}) }}
                        {{ form_widget(registrationForm.user_dob, {'attr': {'class': 'form-control border-4 border-double p-2 focus:outline-none focus:ring-2 focus:ring-neutral-700 bg-white w-[310px] h-[35px] sm:w-[450px] sm:h-[40px]'}}) }}
                        {{ form_errors(registrationForm.user_dob) }}
                    </div>
                    <div class="flex flex-col mb-4">
                        {{ form_label(registrationForm.user_country, 'Pays', {'label_attr': {'class': 'mb-1 text-sm font-semibold text-text-night'}}) }}
                        {{ form_widget(registrationForm.user_country, {'attr': {'class': 'form-control border-4 border-double p-2 focus:outline-none focus:ring-2 focus:ring-neutral-700 bg-white w-[310px] h-[35px] sm:w-[450px] sm:h-[40px]'}}) }}
                        {{ form_errors(registrationForm.user_country) }}
                    </div>
                    <div class="flex flex-col mb-4">
                        {{ form_label(registrationForm.plainPassword.first, 'Mot de passe', {'label_attr': {'class': 'mb-1 text-sm font-semibold text-text-night'}}) }}
                        {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'form-control border-4 border-double p-2 focus:outline-none focus:ring-2 focus:ring-neutral-700 bg-white w-[310px] h-[35px] sm:w-[450px] sm:h-[40px]'}}) }}
                        {{ form_errors(registrationForm.plainPassword.first) }}
                    </div>
                    <div class="flex flex-col mb-4">
                        {{ form_label(registrationForm.plainPassword.second, 'Confirmez votre mot de passe', {'label_attr': {'class': 'mb-1 text-sm font-semibold text-text-night'}}) }}
                        {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'form-control border-4 border-double p-2 focus:outline-none focus:ring-2 focus:ring-neutral-700 bg-white w-[310px] h-[35px] sm:w-[450px] sm:h-[40px]'}}) }}
                        {{ form_errors(registrationForm.plainPassword.second) }}
                    </div>

                    {# <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}"> #}

                    <button type="submit" class="bg-secondary w-[210px] h-[50px] flex items-center justify-center border-4 border-double self-center font-button">Créer mon compte</button>

                {{ form_end(registrationForm) }}        
            </div>

            <div id="column-2" class="hidden sm:block justify-self-end w-1/2">
                <div id="latest-events" class="relative flex flex-col gap-y-4">
                    {% for event in events %}
                    {% include 'partials/_event_container.html.twig'  %}
                    {% endfor %}
                </div>
            </div>

        </div>
    </main>

{% endblock %}
