<div id="event" class=" w-[350px] h-[302px] flex sm:w-[490px] sm:h-[205px] shadow-2xl {% if event.isEventIsArchived %} grayscale  {% endif %} hover:scale-102 transition duration-150 ease-in-out " role="listitem">
    <a href="/show-event-{{ event.eventId }}" class="flex w-full h-full">
        <img class="flex w-[350px] h-[100px]  sm:w-32 sm:h-full sm:max-w-[206px]" src="{{ asset(event.eventMoviePicture) }}" alt="Poster de la séance">
        <div class="flex flex-col flex-1">
            <section class="bg-background pl-2">
                <h4> {{ event.eventName }} | {{ event.eventDate|date("d/m/Y") }} </h4>
                <p>{{ event.eventMovieGenre }}</p>
            </section>
            <section class="bg-primary h-full text-white pl-2">
                <p> Proposé par : <b>{{ event.user.userName }}</b> </p>
                <p class="line-clamp-3"> {{ event.eventDetail }}</p>
                <ul class="flex space-x-2 mt-2">
                    {% for participation in event.participants %}
                        <li class="w-6">
                            <img src="{{ asset('icons/user_icon_white.png') }}" alt="Icone utilisateur">
                        </li>
                    {% endfor %}

                    {% if event.participants|length < event.eventMaxParticipants %}
                        <li class="w-6">
                            <img src="{{ asset('icons/add_user_icon_white.png') }}" alt="Icone utilisateur"></i>
                        </li>
                    {% endif %}
                </ul>
            </section>
        </div>
    </a>
</div>