    <nav class="flex flex-grow relative w-[1000px] h-24 left-1/2 -translate-x-1/2 bg-gradient-to-r from-orange-300 to-amber-200 mt-6 sm:mt-12 z-50">
        <div class="flex items-center justify-center w-full">
            <input type="search" id="creator" placeholder="Organisateur de la séance" class="border-4 border-double p-2 focus:outline-none focus:ring-2 focus:ring-neutral-700 bg-white w-[200px] h-[40px] mx-4"/>
            <input type="date" id="date" class="border-4 border-double p-2 focus:outline-none focus:ring-2 focus:ring-neutral-700 bg-white w-[200px] h-[40px] mx-4 text-gray-500"/>
            <div id="movie_genre" onmouseenter="showHiddenMenu()" onmouseleave="hideHiddenMenu()" class="border-4 border-double p-2 focus:outline-none focus:ring-2 focus:ring-neutral-700 bg-white w-[200px] h-[40px] mx-4 inline-block">
                <div class="flex items-center">
                     <p class="text-gray-500">Genre de la séance</p>
                </div>
                <div id="hiddenMenu" class="absolute hidden bg-secondary-accent mt-1 -ml-3 w-50 border-4 border-double" role="list">
                {% for movie_genre in movie_genres %}
                    <div class="block p-4 w-full hover:bg-accent hover:border-4 hover:border-double" role="listitem">
                        <input type="checkbox" class="genre-checkbox" id="{{ movie_genre.event_movie_genre }}" name="{{ movie_genre.event_movie_genre }}" value="{{ movie_genre.event_movie_genre }}"/>
                        <label for="{{ movie_genre.event_movie_genre }}">{{ movie_genre.event_movie_genre }}</label>
                    </div>
                {% endfor %}
                </div>
            </div>
            <input type="search" id="movie_name" placeholder="Nom du film" class="border-4 border-double p-2 focus:outline-none focus:ring-2 focus:ring-neutral-700 bg-white w-[200px] h-[40px] mx-4"/>
        </div>
    </nav>