{% extends "base.html.twig"  %}

{% block main %}
    <main class="relative w-[1000px] h-17/20 left-1/2 -translate-x-1/2 mt-12">

            <div id="column-2" class="justify-self-end">
                <div id="latest-events" class="relative flex flex-col gap-y-4">
                    {% for event in events %}
                    <div id="event1" class="w-[490px] h-[205px] bg-neutral-300">
                        <a href="/show-event-{{ event.eventId }}">
                        <img class="w-24 max-w-[206px]" src="{{ asset('images/placeholder_poster.webp') }}" alt="Poster de la séance">
                        <div>
                            <p> {{ event.eventName }} </p>
                            <p> {{ event.eventDate|date("d/m/Y") }} </p>
                            <p>Science-fiction </p>
                            <p> {{ event.user.userName }} </p>
                        </div>
                        </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            
        </div>

    </main>

{% endblock %}
